
# Ignore python cache files
*.pyc
__pycache__/
/dist/
requirements.txt

# Ignore pipenv virtual environment
.venv/

# Ignore direnv config
.envrc

# Ignore kubeconfig
.kube/

# Ignore local-dev directory
local-dev/
